.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/267569/pexels-photo-267569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}
.loginTitle {
    font-size: 50px;
    color: white;
}
.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}
.loginForm > label {
    margin: 10px 0;
    color: white;
}
.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
}
.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
.loginButton:disabled {
    cursor: not-allowed;
    background-color: rgb(243, 155, 155);
}
.loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
    background-color: teal;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
}